<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      <h1>Station Map</h1>
    </div>
    <div class="map-container">
      <div id="map">
        <script>
          var map = L.map('map').setView([42.3163031, -72.6424982], 13);
                      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                      }).addTo(map);
          <% if @stations.present? %>
            <% @stations.each do |item| %>
                var marker = L.marker([<%= item[:xcoord] %>, <%= item[:ycoord] %>]).addTo(map);
                var message = "<b>" + "<%= item[:name] %>" + "</b><br> Address: <%= item[:address] %>";
                marker.bindPopup(message).openPopup();
            <% end %>
          <% end %>
        </script>
      </div>
    <style media="screen">
      #map { height: 500px; }
    </style>
    </div>
    <header class="main" id="siteheader"><center>
      Select the station you want to start your ride from
        <ul class="level-1">
          <% if @stations.present? & @bikes.present? %>
            <% @stations.each do |item| %>
              <%= link_to(item[:name] , station_path(item), class: 'action show') %>
              <br>
            <% end %>
          <% else %>
          <div class="empty">
            No stations found.
          </div>
          <% end %>
        </ul>
      </center></header>
</div>
</div>
