<!-- Sign Up page: user can sign up for their account -->
  <h1>Sign Up</h1>
  <div style="display:flex; justify-content: center;
  align-items:center" class="flexbox vertical center justify-space-around">
    <%= form_with model: @user, url: sign_up_path do |f| %>
      <p>
      <%= f.label 'email' %><br>
      <%= f.text_field :email, :class => "input-field" %>
      </p>
      <p>
      <%= f.label 'password' %><br>
      <%= f.password_field :password, :class => "input-field" %>
      </p>
      <p>
      <%= f.label 'password_confirmation' %><br>
      <%= f.password_field :password_confirmation, :class => "input-field" %>
      </p>
      <p class="flexbox vertical justify-space-around button submit">
      <%= f.submit 'Sign Up' %>
      </p>
    <% end %>
  </div>
