<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet" type="text/css">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <link href="toggle-nav.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
     integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
      integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
      crossorigin=""></script>

    <title>ValetBike</title>
    <style>
      header{
        font-family: Lucida, Verdana, sans-serif;
        background: linear-gradient(#90c0c6, #F8F9FF);
      }
      .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
      }
      .navbar-nav > li{
        padding-left:30px;
        padding-right:30px;
      }
      .navbar {
        min-height: 75px !important;
        height: 75px !important;
        max-height: 75px !important;
      }
      .avatar-image {
        display: inline;
        float: right;
      }
      footer {
        background: linear-gradient(to top, #90c0c6, white);
        height: 85px;
        display: inline;
      }
      .footer-text {
        font-size: 30px;
        color: #4A676B;
        font-family: Gabriola, Lucida, Verdana, sans-serif;
        padding: 20px;
        font-weight: bold;
      }
      .input-field {
        border-radius: 20px;
      }
      h1 {
        font-size: 55px;
        font-family: Lucida, Verdana, sans-serif;
        margin: 30px;
        color: rgba(0, 0, 0, 0.596);
        text-shadow: 2px 0px 3px #4A676B;
      }
      .page-container {
        border-radius: 30px;
        background-color: #EEEEEE;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 80px;
        margin-right: 80px;
        box-shadow: 5px 2px 43px 3px #98AFBB inset;
        -webkit-box-shadow: 5px 2px 43px 3px #98AFBB inset;
        -moz-box-shadow: 5px 2px 43px 3px #98AFBB inset;
      }
      .nav-tab {
        box-shadow: 1px 26px 30px -19px rgba(0,0,0,1);
        -webkit-box-shadow: 1px 26px 30px -19px rgba(0,0,0,1);
        -moz-box-shadow: 1px 26px 30px -19px rgba(0,0,0,1);
        padding-left: 30px;
        padding-right: 30px;
      }
      .button {
        background-color: #90c0c6;
        background-size: 100% 100%;
        background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
        background-image: radial-gradient(49% 81% at 49% 48%, #073AFF00 0%, #669FBE45 80%);
        color: #2A475B;
        border: 1px solid;
        border-color: #4A676B;
      }
      .button.solid-blue {
        height: 60px;
        width: 150px;
        border-radius: 10px;
        margin-bottom: 20px;
        font-family: Calisto;
        font-size: 22px;
      }
      .button.price-op {
        height: 70px;
        width: 400px;
        border-radius: 10px;
        margin: 3px;
      }
      .button.header {
        height: 50px;
        width: 90px;
        border-radius: 10px;
        margin: 3px;
        text-align: center;
      }
      .button.submit {
        height: 40px;
        width: 90px;
        border-radius: 20px;
        margin: 3px;
        text-align: center;
        justify: center;
      }


    </style>
    <script src="//code.jquery.com/jquery-3.1.0.slim.min.js"></script>
    <script src="toggle-nav.js"></script>

  </head>
  <body>
    <div id="site-container" class="flexbox vertical stretch flex-1 justify-space-between" style="background-color: #61878C;">
      <div class="flexbox vertical">
        <header class="flexbox horizontal stretch justify-space-between">
          <a href='/home/main'><p style='color:black; display:inline; float: left; padding:10px; font-weight: bold; font-size: 20px'>ValetBike</p></a>
          <div class="flexbox horizontal center">
            <% if Current.user %>
              <%= link_to 'Profile', profile_path, :class => "flexbox center justify-space-around button header" %>
              <%= button_to 'Logout', logout_path, :class => "flexbox center justify-space-around button header", method: :delete %>
              <%= image_tag("account.png", :size => "50x50", :class => "avatar-image")%>
            <% else %>
              <%= link_to 'Sign Up', sign_up_path, :class => "flexbox center justify-space-around button header" %>
              <%= link_to 'Sign in', sign_in_path, :class => "flexbox center justify-space-around button header" %>
            <%end%>
          </div>
        </header>


        <nav class="navbar navbar-expand-lg navbar-light bg-light center" style="border-bottom: 1px solid; border-color:#666666;">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto navbar-center">
              <li class="nav-item nav-tab">
                <a class="nav-link" href="/home/main">Home</a>
              </li>
              <li class="nav-item nav-tab">
                <a class="nav-link" href="/home/about">About</a>
              </li>
              <li class="nav-item nav-tab">
                <a class="nav-link" href="/stations/index">Station Map</a>
              </li>
              <li class="nav-item nav-tab">
                <a class="nav-link" href="/home/pricing">Pricing</a>
              </li>
            </ul>
          </div>
        </nav>


      <div class="flexbox vertical center page-container">
        <%= yield %>
      </div>


      <footer class="flexbox horizontal stretch justify-space-between" style="border: 1px solid; border-color: #666666;">
        <p class=footer-text>Contact us at ...</p>
        <p class=footer-text>Share your experience</p>
      </footer>

    </div>
  </body>
</html>
